.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 80px;
    background-color: #00476b;
}

.headerTitle{
    font-size: 28px;
    margin:10px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerLinks{
    display:flex;
    align-items:center;
}

.headerLink{
    padding:10px;
}

.breaker{
    height:3px;
    background-color:red;
}

.description{
    height:60px;
    display:flex;
    align-items: center;
    background-color: white;
    color: #00476b;
    justify-content: center;
}

.cardStack{
    display:flex;
    align-items:center;
    justify-items: center;
    flex-wrap: wrap;
    gap:10px;
    margin:10px;
}

.card{
    width:300px;
    height:400px;
    padding:10px;
    box-shadow: inset;
    background-color: cornsilk;
    border-radius:25px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.card * {
    margin:10px;
}

.thumbnail {
    display:flex;
    align-items:center;
    width:260px;
}

.thumbnail img {
    width:260px;
}